.header {
  display: flex;
  align-items: center;
}

.ul {
  list-style-type: none;
}

.left li {
  font-size: 0.8rem;
}

.temp {
  font-size: 3.5rem;
  margin-right: 0.3rem;
  line-height: 1.4;
}

.units {
  font-size: 1.5em;
  transform: translateY(-13px);
  margin-right: 0.5rem;
}

.location {
  font-size: 1.6rem;
  font-weight: 500;
}

.right {
  margin-left: auto;
  text-align: end;
}
