.form {
  position: relative;
  width: 25rem;
}

.light {
  color: var(--text-dark);
}

.dark {
  background-color: var(--background-secondary-light);
  color: var(--text-light);
}

.input {
  width: 100%;
  color: inherit;
  padding: 0.5rem 0.2rem;
  border-radius: 50px;
  border: none;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
}

.input:focus {
  outline: none;
  border: solid 3px var(--background-primary);
}

.darkInput {
  background-color: var(--color-secondary-light);
}

.submit {
  background-color: inherit;
  border: none;
  color: var(--text-light);
  position: absolute;
  top: 30%;
  right: 5%;
}

.submit:active,
.submit:hover {
  filter: brightness(80%);
}
