*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width-sm: 540px;
  --width-md: 720px;
  --width-lg: 960px;
  --width-xl: 1140px;
  --width-xxl: 1320px;

  /* Colors */
  --color-primary: #eb6e4c;
  --color-secondary: #48484a;
  --color-secondary-dark: #303031;
  --color-secondary-light: #616163;
  --background-primary: #ffffff;
  --background-secondary: #f2f2f2;

  --text-light: #fff;
  --text-dark: #48484a;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Roboto Slab', serif; */
  font-weight: 400;
}

.nav-brand {
  text-decoration: none;
  color: inherit;
}

.nav-brand h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.p-lg {
  font-size: 1.2rem;
  font-weight: 400;
}

/* container */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-inline: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: var(--width-sm);
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: var(--width-md);
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: var(--width-lg);
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: var(--width-xl);
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: var(--width-xxl);
  }
}

.padding-sm {
  padding: 0.4rem 0.5rem;
}

.padding-md {
  padding: 0.6rem;
}
