*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width-sm: 540px;
  --width-md: 720px;
  --width-lg: 960px;
  --width-xl: 1140px;
  --width-xxl: 1320px;
  --burger-width: 22px;
  --burger-height: 2px;
  /* Colors */
  --color-primary: #eb6e4c;
  --color-primary-darker: #be593e;
  --color-secondary: #48484a;
  --color-secondary-dark: #303031;
  --color-secondary-light: #616163;
  --background-primary: #f8f9fa;
  --background-secondary: #f2f2f2;

  --text-light: #f8f9fa;
  --text-dark: #48484a;
  --text-gray: #6c757d;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Roboto Slab', serif; */
  font-weight: 400;
}

.nav-brand {
  text-decoration: none;
  color: inherit;
}

.nav-brand h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.p-lg {
  font-size: 1.2rem;
  font-weight: 400;
}

/* container */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-inline: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: var(--width-sm);
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: var(--width-md);
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: var(--width-lg);
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: var(--width-xl);
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: var(--width-xxl);
  }
}

.padding-sm {
  padding: 0.4rem 0.5rem;
}

.padding-md {
  padding: 0.6rem;
}

/* Base hamburger menu */

.burger-menu {
  height: 30px;
  width: var(--burger-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu,
.burger-menu * {
  position: relative;
  cursor: pointer;
}

.burger {
  border-radius: 10px;
  width: var(--burger-width);
  height: var(--burger-height);
  background-color: var(--text-light);
  transition: all 0.25s ease-in-out;
}

.burger::after,
.burger::before {
  content: '';
  border-radius: 10px;
  width: var(--burger-width);
  height: var(--burger-height);
  background-color: var(--text-light);
  transition: all 0.25s ease-in-out;
  position: absolute;
}

.burger::before {
  transform: translateY(-8px);
}

.burger::after {
  transform: translateY(8px);
}

.burger-menu.opened .burger {
  transform: translateX(-12px);
  background: transparent;
}

.burger-menu.opened .burger::before {
  transform: rotate(45deg) translate(8px, -8px);
}
.burger-menu.opened .burger::after {
  transform: rotate(-45deg) translate(8px, 8px);
}

/* Colors */

.background-primary {
  background-color: var(--background-primary);
}

.text-gray {
  color: var(--text-gray);
}
